/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    header {
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    .profile {
        margin: 0 auto;
    }
    .name {
        text-align: center;
        font-size: 20px;
    }
    .title {
        font-size: 12px;
        font-weight: 300;
        text-align: center;
    }
    .logo_img {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    
    .works {
        font-size: 16px;
        margin: 0 auto;
        padding: 5px;
        text-align: left;
    }
    .project-title {
        font-size: 13px;
        padding-bottom: 20px;
        text-align: left;
    }
    .projects {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
    }
    .project1 {
        order: 1;
        margin:0 auto;
    }
    .project2 {
       order: 3;
        margin:0 auto;
    }
    .project3 {
        order: 2;
        margin:0 auto;
    }
    .project4 {
        margin:0 auto;
        order: 4;
    }
    
    .fab {
        font-size: 20px;
    }
    .footer-text {
        font-size: 10px;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    header {
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    .profile {
        text-align: center;
        margin: 0 auto;
    }
    .logo_img {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    .projects {
        display: flex;
        flex-wrap: nowrap;    
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
    }
    .featured-works {
        width: 100%;
    }
    .project1 {
        order: 1;
        margin:0 auto;
    }
    .project2 {
        margin-top: 50px;
        order: 3;
        margin:0 auto;
    }
    .project3 {
        order: 2;
        margin:0 auto;
    }
    .project4 {
        margin:0 auto;
        order: 4;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {     
    header {
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    .profile {
        text-align: center;
        margin: 0 auto;
    }
    .logo_img {
        text-align: center;
        margin-left: 0;  
        margin-bottom: 10px;
    }
    .featured-works {
        width: 100%;
   }
   .works {
       padding-bottom: 15px;
   }
   .project-title {
       padding-bottom: 20px;
   }
    .projects {
        display: flex;
        flex-flow: wrap;
        align-items: center;
    }
    .project1 {
        order: 1;
        margin:0 auto;
    }
    .project2 {
        order: 3;
        margin:0 auto;
    }
    .project3 {
        order: 2;
        margin:0 auto;
    }
    .project4 {
        margin:0 auto;
        order: 4;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
    }
    .logo_img {
        height: 50px;
        width: 50px;
        margin-left: 0px; 
        margin-top: 20px;
    }
    .profile {
        margin-right: 20px;
        margin-top: 10px;
        text-align: right;
    }
    .featured-works {
        width: 100%;
    }
    .banner-image {
        margin: 0 auto;
        width: 100%;
        margin-top: 15px;
    }
    .projects { 
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {  
    .profile {
        text-align: center;
        margin: 0 auto;
    }
    .logo_img {
        text-align: center;
        margin-left: 0; 
        margin-bottom: 10px;
    }
    .featured-works {
        width: 100%;
    }
    .works {
        padding-bottom: 15px;
        text-align: left;
    }
    .banner-image {
        display: block; 
        margin: 0 auto;
        width: 100%;
    }
    .projects {  
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
    }

}